# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
ENV/
spark_env/
Boto3_DL/venv/

# AWS credentials
.env
*.aws/
*.aws.json
aws.config

# Logs
*.log
logs/

# Spark
metastore_db/
derby.log
spark-warehouse/

# Data files
*.csv
*.parquet
*.avro
*.orc

# IDE files
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Local data directories
/data/
/temp/
/tmp/

# MySQL
*.sql.gz
*.dump
*.dmp

# Jupyter Notebooks
.ipynb_checkpoints
*/.ipynb_checkpoints/* 